<<<<<<< HEAD
.mainn{
    background-color: #0E4905;
    /* padding: 1em; */
    padding-top: 100px;
=======
.main {
  background-color: #0e4905;
  /* padding: 1em; */
>>>>>>> 939a33bb5541d03181323bdfc001b69c439253ae
}

.first_block_review {
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
  height: 800px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 10px;
  color: #fff;
}

<<<<<<< HEAD
.review_all{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;
}

.photo_review{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
}

.comments{
    background-color: #fff;
    color: black;
    width: 25%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 510px;
}

.comment_review{
    padding: 20px;
}

.user_picture{
    background-image: url('https://storage.googleapis.com/mystory_books/encyclopedia/dino/encyclopedia_dino_boy_10_blond_white_1_eng/1.jpg');
    height: 420px;
}

.comments:nth-child(2){
    /* background-color: red; */
    height: 440px;
}

.stars{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
=======
.photo_review {
  display: flex;
  justify-content: space-between;
}

.comments {
  background-color: #fff;
  color: black;
  width: 25%;
  margin-right: 10px;
}

.comments:nth-child(2) {
  background-color: red;
}

.stars {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
>>>>>>> 939a33bb5541d03181323bdfc001b69c439253ae
}

.show_more {
  margin: 10px auto;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 200px;
}

<<<<<<< HEAD


.video_block_review{
    border: 1px solid white;
    width: 90%;
    margin: 100px auto;
    height: 800px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding: 10px;
    color: #fff;
=======
.video_block_review {
  border: 1px solid white;
  width: 90%;
  margin: 100px auto;
  height: 800px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 10px;
  color: #fff;
>>>>>>> 939a33bb5541d03181323bdfc001b69c439253ae
}

.info_us {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

.book_info {
  background-color: #0d691c;
  width: 40%;
  padding: 2em;
}

.trusted {
  background-color: #333030;
  padding: 2em;
}

.trusted h5 {
  color: #c6c4c4;
  font-size: 25px;
  width: 50%;
}

.deliver_info {
  text-align: center;
}
.deliver_info h2 {
  margin-bottom: 90px;
}

.info_about_creation {
  display: flex;
  justify-content: center;
  /* width: 40%; */
  align-items: center;
  margin: 20px auto;
}

.egg {
  width: 136px;
  height: 190px;
  background: #fff;
  display: block;
  border-radius: 50% 60% 50% 50% / 70% 70% 40% 40%;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  margin-top: 20px;
  margin-right: 40px;
}

.egg p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

<<<<<<< HEAD
.info_about_creation h3{
    width: 30%;
    text-align: start;
    font-size: 30px;
}

.video{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* height: 100%; */
}

.video-button{
    height: 80px;
    width: 50%;
    border-radius: 30px;
    margin-top: 50px;
    background-color: #10C8B0;
    filter: drop-shadow(5px 5px 5px black);
    border: none;
    color:#fff;
    font-size: 30px;
    font-weight: bold;

}

.react-multi-carousel-list  {
    height: 500px;
}

.carousel-item {
    position: relative;
    padding: 10px;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.carousel-caption h2,
.carousel-caption h3,
.carousel-caption p {
    margin: 5px 0;
=======
.info_about_creation h3 {
  width: 30%;
  text-align: start;
  font-size: 30px;
>>>>>>> 939a33bb5541d03181323bdfc001b69c439253ae
}
